body {
    padding-top: 66px;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .bg-light {
    background-color: #2c2c2c !important;
    border-color: #444444 !important;
}

body.dark-mode .navbar,
body.dark-mode footer {
    background-color: #333333;
}

/* Footer styles */
footer {
    margin-top: auto;
    padding: 0.5rem;
    text-align: center;
}
